Django==3.1
gunicorn==19.9.0
django-webpack-loader
nodeenv
djangorestframework
django-filter
django-sendgrid-v5
urlfetch
google-cloud-datastore
django-rest-swagger
coreapi
django-storages
boto3
pillow
django-filter
django-rest-multiple-models
django-cors-headers
coreschema
django-htmlmin
requests
stripe
freezegun
python-memcached
pyvirtualdisplay
selenium
factory_boy==2.12.0
psycopg2-binary
phonenumbers
pdfrw>=0.4
defusedxml
semver
django-sequences
slackclient
pdfkit
imgkit
numpy
pandas
django-pandas
google-api-python-client
google-auth-httplib2
google-auth-oauthlib
referer-parser==0.4.1
Pillow
python-dateutil
graphene-django
drf-writable-nested
qrcode[pil]
django-graphql-jwt
PyJWT==1.7.0
graphene-file-upload
flake8
pep8
isort
black
Deprecated
openpyxl